certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
keyboard==0.13.5
numpy==1.26.2
Pillow==10.1.0
pyftdi==0.55.0
pygame==2.5.2
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
sysv-ipc==1.1.0
typing_extensions==4.8.0
urllib3==2.1.0
