Adafruit-Blinka==8.25.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-motor==3.4.12
adafruit-circuitpython-motorkit==1.6.13
adafruit-circuitpython-neopixel==6.3.11
adafruit-circuitpython-pca9685==3.4.11
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-register==1.9.17
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.54.0
Adafruit-PureIO==1.1.11
board==1.0
certifi==2023.11.17
charset-normalizer==3.3.2
displayhatmini==0.0.2
idna==3.6
keyboard==0.13.5
numpy==1.26.2
Pillow==10.1.0
pyftdi==0.55.0
pygame==2.5.2
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
spidev==3.6
ST7789==0.0.4
sysv-ipc==1.1.0
typing_extensions==4.8.0
urllib3==2.1.0
